*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}


.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    float: left;
}

.menu a{
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 12px 116px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.menu{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+58,0a0809+100 */
background: #aebcbf; /* Old browsers */
background: -moz-linear-gradient(top,  #aebcbf 0%, #6e7774 50%, #0a0e0a 58%, #0a0809 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 58%,#0a0809 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #aebcbf 0%,#6e7774 50%,#0a0e0a 58%,#0a0809 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
    width: 1280px;
    height: 52px;
}

.barra{
    color: #fff;
    padding: 15px 0 0;
}

.menu a:hover{
    color: bisque;
    background:rgba(0,0,0,0.2);
    animation: 0.5s ms 1;
}

@keyframes ms{
    0%{
        opacity: 0;
        transform: scale(1.6);
    }
}

.title{
    text-align: center;
    font-size: 40px;
    color:#6a6a6a;
    margin-top: 30px;
    font-weight: 100;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: alt 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 600;
    border-color: coral;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 200;
}

.container .card a{
    font: weight 500px;
    text-decoration: none;
    color: #3499;
}

li{
    display: block;
}